################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.ipch
*.exe
*.pdb
*.ilk
*.tlog
*.obj
*.log
*.idb
*.vcxproj
*.filters
*.user
*.sln
*.opendb
*.iobj
*.ipdb
